# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.AR_LANDA.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\llit0\UnityProjects\AR_LANDA\.idea\.idea.AR_LANDA\.idea/dataSources/
/dataSources.local.xml
